[Desktop Entry]
Type=Application
Name=About BoredOS
Comment=Show BoredOS system information
Exec=/bin/about.elf
Icon=/Library/Icons/boredos/bos.png
Terminal=false
Categories=System;
