[Desktop Entry]
Type=Application
Name=Hello World !
Comment=Nova widget demo application
Exec=/bin/helloworld.elf
Icon=/Library/Icons/serenityicons/32x32/app-terminal.png
Terminal=false
Categories=Development;
