[Desktop Entry]
Type=Application
Name=Run...
Comment=Run a program
Exec=/bin/run.elf
Icon=/Library/Icons/serenityicons/16x16/app-run.png
Terminal=false
Categories=System;
